body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}
h1, h2 , h3 , h4,p {
    font-family: 'Montserrat', sans-serif !important;

}
// $clr : #b98d70;
// $clr : #c57540;
$clr : #935525;


.clr {
    color :$clr !important
}
.black {
    color:black ;
}
.ul-white {
    li {
        color :white !important;
        a {
        color :white !important;
        }
    }
}
.bg {
    background: $clr !important;
}
.trans {
    transition: 0.2s ease;

}
.white {
    color:white !important;
}
.searchinput {
    .searchIcon {

        &:hover {
            background: $clr;
            border-radius: 50%;
        }
    }
}
.bb {
    border-bottom: 1px solid #8080802b;
}
.link {
    color: rgb(46, 46, 46);
    transition: 0.2s ease;
    text-decoration: none;
    &:hover {
        text-decoration: underline;

    }
}
.decor-none {
    text-decoration: none !important;
}
.gap {
    gap :.15em !important;
}
.CategoryMenu {
    div {

        margin: 0.65em;
        a {

            text-decoration: none;
            font-size: .85em;
        }
        &:hover {
            text-decoration: underline;

            a {
                color: rgb(86, 86, 86);
                transition: 0.2s ease;

            }
        }
    }
}
.trans {
    transition: 0.2s ease;

}

.gray {
    color : #54595F;
}
.gray2 {
    color : #262626;
}
.flexed {
    display : flex;
    align-items: center;
}
.quantity-picker {
    display : flex; 
    position : relative;
    .quantity-modifier {
        height: 100%;
        width: 40px;
        position: absolute;
    }
    .modifier-right {
        right : 0;
    }
    input {
        width: 100px  !important;
        color : #5c5c5c;
        font-size:1em;
    }
}
.productHolder {
    display: flex;
    margin:2em auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    // div {
        // max-width: 24%;
    // }
}
.img {
    object-fit: cover;
    width:100%;
    height: 100%;
}
.cover {
object-fit:cover
}
.shop-data-items {
    display:flex
            li {
                width : 25%
            }
}
.shadow {
    box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.215);
}
.swiper-wrapper1 {
    margin :0 1em  !important;
}
.scale {
    img {
        transition: .2s ease;
    }
   &:hover {

       img {
           
           transform: scale(1.05);
        }
    }
}
.items-center {
    align-items: center;
}
.img2 {
    img {
        max-height:500px
    }
}
.titleMax {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (max-width:700px) {
    .img2 {
        img {
            max-height:250px  !important 
        }
    }   
}
footer {

    .container {
        background: white;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
        display: flex;
        flex-direction: row;
    .site-footer__top {
        display: flex;
        flex-wrap: wrap;
    }
    .site-footer__description {
        max-width: 400px;
    }
        }
    .site-footer__links {
        display: flex;
        flex-wrap: wrap;
        ul {
            list-style-type: none;
            margin: 0;
            // padding: 0;
            width: 22%;
            min-width: 200px;
            li {
                a {
                    color :#262626d0;
                    text-decoration: none !important;
                }
                padding: .14em 0;
            }
            .link-title {
                padding: 0 0 .65em 0;
                color:black;font-weight: 600 !important;
            }
        }
    }
    .footer-p {
        color:rgba(46, 46, 46, 0.635);
    }
    .site-footer__bottom {
        div {
            p{

            
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}
}
}
.logos {
    max-width: 90px;
}
.auto {
    margin: 0 auto  !important;
}
.flex{
    display: flex !important;
}
.wrap {
    flex-wrap: wrap !important;
}
.pointer {
    cursor: pointer !important;
}
.center {
    justify-content: center !important;
}
.between {
    justify-content: space-around !important;
}
.contain {
    object-fit: contain !important;
}
.col{
    flex-direction: column !important;
}
button:disabled,
button[disabled]{
    overflow: 0.88;
}

.row {
    flex-direction: row !important;
}
@media (max-width: 768px) {
    .site-footer__links {
        align-items: center;
        margin: 1em auto;
        
        ul {
            min-width: 300px;
            padding: 0.75em 0 ;
            width: 100% !important;
           
        }
    }
}
@media (min-width: 768px) {
    .site-footer__links {
        ul {
            width: 50%;
        }
    }
}