body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif !important;
}
h1, h2 , h3 , h4,p {
    font-family: 'Lato', sans-serif !important;

}
// $clr : #b98d70;
// $clr : #c57540;
$clr : #ea1d1d;
$clr2 :#172029;

.clr {
    color :$clr !important
}
.clr2 {
    color : $clr2 !important
}
.black {
    color:black ;
}
.ul-white {font-weight: 300;
    li {
        font-weight: 300;
        color :#2b2b2b !important;
        a {
            font-weight: 300;
            color :#2b2b2b !important;
        }
    }
}
.py2 {
    padding: 2em 0;
}
.bg {
    background: $clr2 !important;
}
.icon-css {
    position: absolute;
right: 2%;

}
.trans {
    transition: 0.2s ease;

}
.white {
    color:white !important;
}
.searchinput {
    .searchIcon {

        &:hover {
            background: $clr;
            border-radius: 50%;
        }
    }
}
.bb {
    border-bottom: 1px solid #8080802b;
}
.link {
    color: rgb(46, 46, 46);
    transition: 0.2s ease;
    text-decoration: none;
    &:hover {
        text-decoration: underline;

    }
}
.decor-none {
    text-decoration: none !important;
}
.gap {
    gap :.15em !important;
}
.CategoryMenu {
    div {

        margin: 0.65em;
        a {

            text-decoration: none;
            font-size: .85em;
        }
        &:hover {
            text-decoration: underline;

            a {
                color: rgb(86, 86, 86);
                transition: 0.2s ease;

            }
        }
    }
}
.trans {
    transition: 0.2s ease;

}

.gray {
    color : #54595F;
}
.gray2 {
    color : #262626;

}
.bg2 {
    background:#42a369!important;
}
.pre {
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.fixedComp {
        position: fixed;
        bottom: 0;
        background-color:#42a369!important;
        text-align: center;
        z-index: 5125125125;
        width: calc(100vw - 1px);
        padding: 10px 0;
        // margin: 0 auto;
        // transform: translate(50%, 0%);
        // right: 50%;
}
.flexed {
    display : flex;
    align-items: center;
}
.quantity-picker {
    display : flex; 
    position : relative;
    .quantity-modifier {
        height: 100%;
        width: 40px;
        position: absolute;
    }
    .modifier-right {
        right : 0;
    }
    input {
        width: 100px  !important;
        color : #5c5c5c;
        font-size:1em;
    }
}
.productHolder {
    display: flex;
    margin:2em auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    // div {
        // max-width: 24%;
    // }
}
.img {
    object-fit: cover;
    width:100%;
    height: 100%;
}
.cover {
object-fit:cover
}
.shop-data-items {
    display:flex
            li {
                width : 25%
            }
}
.shadow {
    box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.215);
}
.swiper-wrapper1 {
    margin :0 1em  !important;
}
.scale {
    img {
        transition: .2s ease;
    }
   &:hover {

       img {
           
           transform: scale(1.05);
        }
    }
}
.items-center {
    align-items: center;
}
.img2 {
    img {
        max-height:500px
    }
}
.titleMax {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (max-width:700px) {
    .img2 {
        img {
            max-height:250px  !important 
        }
    }   
}
footer {

    .container {
        background: white;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
        display: flex;
        flex-direction: row;
    .site-footer__top {
        display: flex;
        flex-wrap: wrap;
    }
    .site-footer__description {
        max-width: 400px;
    }
        }
    .site-footer__links {
        display: flex;
        flex-wrap: wrap;
        ul {
            list-style-type: none;
            margin: 0;
            // padding: 0;
            width: 22%;
            min-width: 170px;
            li {
                a {
                    color :#262626d0;
                    text-decoration: none !important;
                }
                padding: .14em 0;
            }
            .link-title {
                font-weight: 300;
                padding: 0 0 .65em 0;
                color:black;font-weight: 600 !important;
            }
        }
    }
    .footer-p {
        color:rgba(46, 46, 46, 0.635);
    }
    .site-footer__bottom {
        div {
            p{
            
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}
}
}
.logos {
    max-width: 90px;
}
.auto {
    margin: 0 auto  !important;
}
.flex{
    display: flex !important;
}
.wrap {
    flex-wrap: wrap !important;
}
.invert {
    filter : invert(1) !important;
}
.pointer {
    cursor: pointer !important;
}
.center {
    justify-content: center !important;
}
.between {
    justify-content: space-around !important;
}
.contain {
    object-fit: contain !important;
}
.col{
    flex-direction: column !important;
}
button:disabled,
button[disabled]{
    overflow: 0.88;
}

.row {
    flex-direction: row !important;
}
@media (max-width: 768px) {
    .site-footer__links {
        align-items: center;
        margin: 0 auto;
        
        ul {
            min-width: 200px;
            padding: 0.75em 0 ;
            width: 100% !important;
           
        }
    }
}












$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet-lg: 1024px,
  desktop-lg: 1202px
);

@mixin breakpoint($breakpoint) {

    // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
	
	// Get the breakpoint value.
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	
	//Build the media query
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} 
}

@mixin breakpointMax($breakpoint) {

    // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
	
	// Get the breakpoint value.
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	
	//Build the media query
		@media (max-width: $breakpoint-value) {
			@content;
		}
	} 
}
@media (min-width: 768px) {
    .site-footer__links {
        ul {
            width: 50%;
        }
    }
}

.site-footer {
    padding-top: 50px;
    @include breakpoint(phone) {
      padding-top: 90px;
    }
    .site-footer__top {
      @include breakpoint(phone) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
      }
      @include breakpoint(tablet-lg) {
        flex-wrap: nowrap;
      }
    }
    .site-footer__description {
      margin-right: auto;
      margin-bottom: 70px;
      @include breakpoint(phone) {
        width: 400px;
        margin-bottom: 50px;
      }
      @include breakpoint(tablet-lg) {
        margin-bottom: 0;
      }
      svg {
        object-fit: contain;
        width: 45px;
        height: 35px;
        fill: #000;
        margin-right: 15px;
      }
      h6 {
        display: flex;
        color: #000;
        font-weight: 300;
        align-items: center;
        margin-bottom: 33px;
        span {
          font-weight: 400;
          color: var(--color-orange);
        }
      }
      p {
        font-size: 13px;
        line-height: 190%;
      }
    }
    .site-footer__social-networks {
      display: flex;
      margin-top: 20px;
      li {
        font-size: 21px;
        margin-right: 25px;
      }
    }
    .site-footer__links {
      @include breakpoint(phone) {
        display: flex;
        width: 100%;
      }
      @include breakpoint(tablet-lg) {
        width: auto;
      }
      ul {
        margin-bottom: 40px;
        @include breakpoint(phone) {
          margin-right: 30px;
          margin-bottom: 0;
        }
        @include breakpoint(tablet-lg) {
          margin-right: 49px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        li {
          font-size: 14px;
          color: #000;
          margin-bottom: 12px;
          @include breakpoint(phone) {
            margin-bottom: 15px;
          }
          &:first-child {
            font-weight: 600;
            margin-bottom: 26px;
            @include breakpoint(phone) {
              margin-bottom: 34px;
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .site-footer__bottom {
      padding: 10px 0;
      border-top: 1px solid #EBEBEB;
      @include breakpoint(phone) {
        padding: 16px 0;
      }
      .container {
        font-size: 15px;
        text-align: center;
        @include breakpoint(phone) {
          font-size: 16px;
        }
      }
    }
  }
  